# --- Geral ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Python / Backend ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# --- Dados do Banco de Dados (IMPORTANTE) ---
# Ignorar arquivos de dados do Postgres ou SQLite para não corromper/pesar
data/
*.sqlite3
*.db

# --- Node / Frontend ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Logs ---
logs/
*.log
